.gallery-background {
  background-image: linear-gradient(
      to bottom,
      rgb(36 222 189 / 46%),
      rgb(80 183 113 / 0%)
    ),
    url(static/background_ocean_3.jpeg);
  background-position: center;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  height: 330px;
}

.gallery-image {
  margin: 2.5rem 1.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 17.5rem;
  width: 21.875rem;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 0.625rem;
  height: 15.625rem;
  width: 21.875rem;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.destinations {
  margin: 2rem 1.2rem;
}

.booking-form {
  label {
    color: black;
  }
}

.booking-form input {
  border-radius: 0.313rem;
  border-style: double;
  padding: 0.25rem;
}

.booking-form button {
  align-self: center;
  background-color: orange;
  border: none;
  border-radius: 0.938rem;
  cursor: pointer;
  padding: 0.4rem;
  width: 100%;
}

.smart-booking {
  font-size: small;
  margin: 1.2rem;
}

p {
  display: flex;
  margin-bottom: 1rem;
}

.back-link {
  color: black;
  margin-top: 1.2rem;
  margin-left: 0.8rem;
  display: inline-block;
  text-decoration: underline;

  i {
    margin-right: 0.5rem;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .destinations {
    margin: 0 8rem 3rem;
  }

  .booking-form {
    flex-direction: row;

    .label-and-input:last-of-type {
      width: 15%;
    }

    button {
      width: 4.75rem;
    }

    input {
      margin-right: 0.625rem;
    }
  }

  .smart-booking {
    margin: 2.5rem 8rem;
    padding: unset;
  }
}
